@model Registration.Models.tblRegistration

@{
    ViewBag.Title = "Forgot Password";
}
<br />
@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Forgot Password</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td>@Html.LabelFor(a => a.UserName)</td>
                <td>@Html.TextBoxFor(a => a.UserName)</td>
                <td>@Html.ValidationMessageFor(a => a.UserName)</td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" value="ForgotPassword" /></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}

