@model Registration.Models.tblRegistration

@{
    ViewBag.Title = "Reset Password";
}

<h2>Login</h2>

@using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
{
<fieldset>
    <legend>Reset Password</legend>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @if (ViewBag.Message != null)
    {
        <p style="border: 1px solid red">
            @ViewBag.Message
        </p>
    }

    <table>
        <tr>
            <td>@Html.LabelFor(a => a.Password)</td>
            <td>@Html.TextBoxFor(a => a.Password)</td>
            <td>@Html.ValidationMessageFor(a => a.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Password)</td>
            <td>@Html.PasswordFor(a => a.Password)</td>
            <td>@Html.ValidationMessageFor(a => a.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Token)</td>
            <td><input type="text" name="token" value="@Model.Token" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="ResetPassword" /></td>
            <td></td>
        </tr>
    </table>
</fieldset>
}

